Binaries
DerivedDataCache
Intermediate
Saved
Build
*/Assets/
*/Audio/
*/Destructibles/
*/Mixmo/
*/Stylized_Egypt/
*/ParagonMinions/


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
